.card {
  background-color: #292c2e;
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  color: white;

  h3 {
    color: #df3c3a;
    margin-bottom: 2rem;
    font-size: 40px;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }
}
