.tema {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 62px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
